<div class="add-todo-wrapper has-blurred-white-bg container">
  <h2 class="is-bold">Add Todo</h2>

  <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
    <div class="form-field">
      <input
        #textField="ngModel"
        required
        ngModel
        name="text"
        class="textbox"
        type="text"
        placeholder="Enter todo text..."
        minlength="3"
      />
      <ng-container *ngIf="textField.invalid && !textField.pristine">
        <p *ngIf="textField.errors?.required">Please enter text for todo</p>
        <p *ngIf="textField.errors?.minlength">Please enter todo text of at least 3 characters</p>
      </ng-container>
    </div>

    <div class="btns-container align-end">
      <a routerLink="../" class="btn">Cancel</a>
      <button type="submit" class="btn align-end" [disabled]="textField.pristine">Create Todo</button>
    </div>
  </form>
</div>
